:root {
    --primary-color: #3b7d02;
    --secondary-color: #8b572a;
    --accent-color: #005a8d;
    
    --spacing-unit: 0.5rem;

    --m-sm: var(--spacing-unit);
    --m-md: calc(2 * var(--spacing-unit));
    --m-lg: calc(4 * var(--spacing-unit));

    --mt: var(--spacing-unit);
    --mr: var(--spacing-unit);
    --mb: var(--spacing-unit);
    --ml: var(--spacing-unit);

    --p-sm: var(--spacing-unit);
    --p-md: calc(2 * var(--spacing-unit));
    --p-lg: calc(4 * var(--spacing-unit));

    --pt: var(--spacing-unit);
    --pr: var(--spacing-unit);
    --pb: var(--spacing-unit);
    --pl: var(--spacing-unit);
}

body { background: var(--secondary-color); }
form { max-width: 420px; margin: 50px auto; }

.feedback-input {
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border: 2px solid #CC6666;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
}

.feedback-input:focus { border: 2px solid var(--primary-color); }
.feedback-input::after { border: 2px solid var(--primary-color); }

textarea {
    height: 150px;
    line-height: 150%;
    resize: vertical;
}

#submitBtn:hover {
    background: var(--primary-color);
}


#contact-form {
    margin-top: 20px; 
}

.feedback-submit {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    background: var(--accent-color);
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
}

.feedback-submit:hover { background: var(--primary-color); }