:root {
    --primary-color: #3b7d02;
    --secondary-color: #8b572a;
    --accent-color: #005a8d; 
    
    --spacing-unit: 0.5rem;

    --m-sm: var(--spacing-unit);
    --m-md: calc(2 * var(--spacing-unit));
    --m-lg: calc(4 * var(--spacing-unit));

    --mt: var(--spacing-unit);
    --mr: var(--spacing-unit);
    --mb: var(--spacing-unit);
    --ml: var(--spacing-unit);

    --p-sm: var(--spacing-unit);
    --p-md: calc(2 * var(--spacing-unit));
    --p-lg: calc(4 * var(--spacing-unit));

    --pt: var(--spacing-unit);
    --pr: var(--spacing-unit);
    --pb: var(--spacing-unit);
    --pl: var(--spacing-unit);
}



main {
    background-color: var(--secondary-color);
    padding: var(--p-lg);
    position: relative;
    height: calc(100vh - 100px);
    overflow: hidden;
}


#hero-carousel {
    width: 75%;
    height: 70%;
    margin: auto;
    overflow: hidden;
    position: relative;
    z-index: 1;
}


.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    position: relative;
    height: 100%;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(10px);
    z-index: 0;
}



@media only screen and (max-width: 768px) {
    body {
        overflow: auto;
    }

    header {
        padding: var(--p-sm);
        flex-direction: column;
        text-align: center;
    }

    .header-buttons {
        flex-direction: column;
        margin-top: var(--mt);
    }

    .sign-up-button,
    .login-button {
        margin: var(--m-sm) 0;
    }

    .grid-container {
        width: 100%;
        padding: var(--p-sm);
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 75%;
        text-align: left;
    }
    
    form label {
        color: #3b7d02;
        display: block;
        margin-bottom: 5px;
    }
    
    form input {
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
    }

    main {
        padding: var(--p-md);
    }

    #hero-carousel {
        width: 100%;
        height: 50%;
    }

}