:root {
  --primary-color: #3b7d02; /* Green */
  --secondary-color: #8b572a; /* Brown */
  --accent-color: #005a8d; /* Blue */
  
  --spacing-unit: 0.5rem;

  --m-sm: var(--spacing-unit);
  --m-md: calc(2 * var(--spacing-unit));
  --m-lg: calc(4 * var(--spacing-unit));

  --mt: var(--spacing-unit);
  --mr: var(--spacing-unit);
  --mb: var(--spacing-unit);
  --ml: var(--spacing-unit);

  --p-sm: var(--spacing-unit);
  --p-md: calc(2 * var(--spacing-unit));
  --p-lg: calc(4 * var(--spacing-unit));

  --pt: var(--spacing-unit);
  --pr: var(--spacing-unit);
  --pb: var(--spacing-unit);
  --pl: var(--spacing-unit);
}

body {
  background-color: var(--secondary-color);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.locator-page {
  display: flex;
  justify-content: space-evenly;
}

#map-container {
  width: 75%; /* Adjust the width as needed */
  margin-bottom: 20px; /* Optional margin to create space between the map and search bar */
}

#map {
  width: 100%;
  height: 400px; /* Adjust the height as needed */
}

#search-container {
  width: 75%; /* Adjust the width as needed */
  margin: 0 auto; /* Center the search container horizontally */
}

.controls {
  width: 100%; /* Make the search input fill the container width */
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 14px; /* Adjust font size for smaller screens */
  }

  header {
    padding: var(--p-sm);
    flex-direction: column;
    text-align: center;
  }

  .header-buttons {
    flex-direction: column;
    margin-top: var(--mt);
  }

  .sign-up-button,
  .login-button {
    margin: var(--m-sm) 0;
  }

  .grid-container {
    width: 100%;
    padding: var(--p-sm);
  }

    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 75%;
      text-align: left; /* Align form elements to the left */
  }

  form label {
      color: #3b7d02;
      display: block;
      margin-bottom: 5px;
  }

  form input {
      width: 100%;
      padding: 8px;
      margin-bottom: 10px;
  }

  main {
    padding: var(--p-md);
  }

  #hero-carousel {
    width: 100%;
    height: 50%; /* Adjust the percentage based on your design */
  }

  .locator-page {
    flex-direction: column;
  }

  #map-container,
  #search-container {
    width: 100%; /* Adjust the width as needed for smaller screens */
    margin:0; /* Remove margin to make it full-width */
    padding: var(--p-md);
  }

  #searchBtn {
    margin-top: var(--m-sm);
  }

  #map {
    height: 300px; /* Adjust the height for smaller screens */
  }

  .controls {
    width: 100%; /* Make the search input fill the container width */
  }

  footer {
    padding: var(--p-sm);
  }

  footer img {
    width: 120px; /* Adjust image size for smaller screens */
  }
}