:root {
    --primary-color:green;
    --secondary-color:brown;
    --accent-color:blue;
    --m-sm:0.25rem;
    --m-md:0.5rem;
    --m-lg:1rem;
    --mt-sm:0.25rem;
    --mt-md:0.5rem;
    --mt-lg:1rem;
    --mr-sm:0.25rem;
    --mr-md:0.5rem;
    --mr-lg:1rem;
    --mb-sm:0.25rem;
    --mb-md:0.5rem;
    --mb-lg:1rem;
    --ml-sm:0.25rem;
    --ml-md:0.5rem;
    --ml-lg:1rem;
    --p-sm:0.25rem;
    --p-md:0.5rem;
    --p-lg:1rem;
    --pt-sm:0.25rem;
    --pt-md:0.5rem;
    --pt-lg:1rem;
    --pr-sm:0.25rem;
    --pr-md:0.5rem;
    --pr-lg:1rem;
    --pb-sm:0.25rem;
    --pb-md:0.5rem;
    --pb-lg:1rem;
    --pl-sm:0.25rem;
    --pl-md:0.5rem;
    --pl-lg:1rem;
}

* {
    box-sizing: border-box;
    padding:0;
    margin:0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

nav {
    display: inline-flex;
    justify-content: space-evenly;
    width:100vw;
    background-color: #444;
    overflow: hidden;
    text-align: center;
}

nav a {
    color: #fff;
    text-align: center;
    padding:var(--p-md);
    text-decoration: none;
    width: 25%;
}

nav a:hover {
    background-color: #ddd;
    color: #333;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
}

footer img {
    margin-right: 10px;
    width: 50px;
    height: 50px;
}

footer p {
    margin: 0;
    flex-grow: 1;
}