<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="/path/to/favicon.ico" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="description" content="Description of your website">
    <meta name="keywords" content="keywords, separated, by, commas">
    <meta name="author" content="Your Name">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EcoAngler Homepage</title>
    <link rel="stylesheet" href="/practice1/templates/index/index.css">
	<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
</head>

<body>

    <header>
        <div class="header-buttons" id="sign-up-btn">
            <a href="#" class="sign-up-button">Sign Up</a>
            <div class="overlay" id="sign-up-overlay">
                <div class="overlay-content">
                    <span class="overlay-text">Sign Up</span>
                    <div class="grid-container">
                        <form>
                            <label for="full-name">Full Name:</label>
                            <input type="text" id="full-name" name="full-name" required>
    
                            <label for="username">Username:</label>
                            <input type="text" id="username" name="username" required>
    
                            <label for="password">Password:</label>
                            <input type="password" id="password" name="password" required>
    
                            <label for="confirm-password">Confirm Password:</label>
                            <input type="password" id="confirm-password" name="confirm-password" required>
    
                            <button id="submit" type="submit">Sign Up</button>
                        </form>
                    </div>
                    <button class="close-button" onclick="closeOverlay('sign-up-overlay')">Close</button>
                </div>
            </div>
        </div>
        <h1>EcoAngler</h1>
        <div class="header-buttons" id="login-btn">
            <a href="#" class="login-button">Login</a>
            <div class="overlay" id="login-overlay">
                <div class="overlay-content">
                    <span class="overlay-text">Login</span>
                    <div class="grid-container">
                        <form>
                            <label for="username-login">Username:</label>
                            <input type="text" id="username-login" name="username-login" required>
    
                            <label for="password-login">Password:</label>
                            <input type="password" id="password-login" name="password-login" required>
    
                            <button id="submit-login" type="submit">Login</button>
                        </form>
                    </div>
                    <button class="close-button" onclick="closeOverlay('login-overlay')">Close</button>
                </div>
            </div>
        </div>
    </header>
    
    
    

    <nav>
        <a href="#" class="active">Home</a>
        <a href="/practice1/templates/about/about.html">About</a>
        <a href="/practice1/templates/locator/locator.html">Locator</a>
        <a href="/practice1/templates/contact/contact.html">Contact</a>
    </nav>

    <main>
        <!-- Background Blur -->
        <div class="main-background"></div>
    
        <!-- Hero Carousel -->
        <div id="hero-carousel">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="/practice1/assets/fly_fishing_stock.jpg" alt="Slide 1">
                    </div>
                    <div class="swiper-slide">
                        <img src="/practice1/assets/fishing_gear.jpg" alt="Slide 2">
                    </div>
                    <div class="swiper-slide">
                        <img src="/practice1/assets/laws_stock.jpg" alt="Slide 3">
                    </div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
                <!-- Add Navigation -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
    </main>
    


    <footer>
        <!-- Add your company logo and name here -->
        <img src="/practice1/assets/TCmedia3_Black_Outlined_2_All.png" alt="TCMedia Logo">
        <p>Copyright &copy; 2024</p>
    </footer>

	<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>

    <script src="/practice1/templates/index/index.js"></script>

</body>

</html>
