:root {
    --primary-color: #3b7d02; /* Green */
    --secondary-color: #8b572a; /* Brown */
    --accent-color: #005a8d; /* Blue */
    
    --spacing-unit: 0.5rem;

    --m-sm: var(--spacing-unit);
    --m-md: calc(2 * var(--spacing-unit));
    --m-lg: calc(4 * var(--spacing-unit));

    --mt: var(--spacing-unit);
    --mr: var(--spacing-unit);
    --mb: var(--spacing-unit);
    --ml: var(--spacing-unit);

    --p-sm: var(--spacing-unit);
    --p-md: calc(2 * var(--spacing-unit));
    --p-lg: calc(4 * var(--spacing-unit));

    --pt: var(--spacing-unit);
    --pr: var(--spacing-unit);
    --pb: var(--spacing-unit);
    --pl: var(--spacing-unit);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden; /* Hide scrollbar */
}

header {
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
    padding: var(--p-md);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-buttons {
    display: flex;
    align-items: center;
}

.sign-up-button,
.login-button {
    color: #fff;
    text-decoration: none;
    padding: var(--p-md);
    margin: 0 var(--m-md);
    border: 2px solid #fff;
    border-radius: 5px;
}

.sign-up-button:hover,
.login-button:hover {
    background-color: #fff;
    color: var(--primary-color);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 2; /* Ensure a higher z-index than the elements it should overlay */
}

.overlay-content {
    text-align: center;
}

.grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    text-align: left; /* Align form elements to the left */
}

form label {
    color: #3b7d02;
    display: block;
    margin-bottom: 5px;
}

form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

form button {
    background-color: #3b7d02; /* Green */
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px; /* Add margin to separate from the inputs */
}

form button:hover {
    background-color: #005a8d; /* Blue */
}

.overlay-text {
    color: #3b7d02;
    font-size: 24px;
}

.close-button {
    color: #ffffff;
    background-color: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
}


nav {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line on smaller screens */
    justify-content: space-evenly;
    background-color: var(--secondary-color);
    overflow: hidden;
    text-align: center;
  }
  
  nav a {
    color: #fff;
    text-align: center;
    padding: var(--p-md);
    text-decoration: none;
    width: 25%;
    box-sizing: border-box; /* Include padding in the width calculation */
  }
  
  nav a.active,
  nav a:hover {
    background-color: var(--accent-color);
    color: #fff;
  }

main {
    padding: var(--p-lg);
    position: relative;
    height: calc(100vh - 100px); /* Adjust based on your footer height */
    overflow: hidden;
}


#hero-carousel {
    width: 75%;
    height: 70%; /* Adjust the percentage based on your design */
    margin: auto;
    overflow: hidden;
    position: relative;
    z-index: 1;
}


.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    position: relative;
    height: 100%;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(10px);
    z-index: 0;
}

footer {
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
    padding: var(--p-md);
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
}

footer img {
    margin-right: var(--mr-md);
    width: 150px;
    height: 50px;
}

footer p {
    margin: 0;
    flex-grow: 1;
}

@media only screen and (max-width: 768px) {
    /* Styles for smaller screens (e.g., tablets and mobile devices) */
    body {
        overflow: auto; /* Allow scrollbar on smaller screens */
    }

    header {
        padding: var(--p-sm);
        flex-direction: column;
        text-align: center;
    }

    .header-buttons {
        flex-direction: column;
        margin-top: var(--mt);
    }

    .sign-up-button,
    .login-button {
        margin: var(--m-sm) 0;
    }

    .grid-container {
        width: 100%;
        padding: var(--p-sm);
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 75%;
        text-align: left; /* Align form elements to the left */
    }
    
    form label {
        color: #3b7d02;
        display: block;
        margin-bottom: 5px;
    }
    
    form input {
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
    }

    main {
        padding: var(--p-md);
    }

    #hero-carousel {
        width: 100%;
        height: 50%; /* Adjust the percentage based on your design */
    }

    footer {
        padding: var(--p-sm);
    }

    footer img {
        width: 120px; /* Adjust image size for smaller screens */
    }
}