<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EcoAngler - About Us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
</head>

<body>

    {% include 'header.html' %}

    {% set active_page = 'about' %}
    {% include 'navbar.html' %}

    <div class="about-page">
        <div class="container">
            <div class="left-section">
                <h2>About Us</h2>
                <p>Developed in 2024, we strive to provide users with a reliable place to receieve information.</p>
                <p>We have curated our resources to allow for seemless discovery of fishing spots local to you. As well as provide anglers with the ability to stay up to date on rules, laws and regulations.</p>
            </div>
            <div class="right-section">
                <div class="team-member">
                    <img src="{{ url_for('static', filename='img/team_member1.jpg') }}" alt="Team Member 1">
                    <p>Jane Smith</p>
                </div>
                <div class="team-member">
                    <img src="{{ url_for('static', filename='img/team_member2.jpg') }}" alt="Team Member 2">
                    <p>John Doe</p>
                </div>
                <div class="team-member">
                    <img src="{{ url_for('static', filename='img/team_member3.jpg') }}" alt="Team Member 3">
                    <p>Emily Brown</p>
                </div>
                <div class="team-member">
                    <img src="{{ url_for('static', filename='img/team_member4.jpg') }}" alt="Team Member 4">
                    <p>Mike Johnson</p>
                </div>
            </div>
        </div>
    </div>

    {% include 'footer.html' %}

    <script src="{{ url_for('static', filename='js/contact.js') }}"></script>
</body>


</html>
