<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EcoAngler - Contact Us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
</head>

<body>

    {% include 'header.html' %}

    {% set active_page = 'contact' %}
    {% include 'navbar.html' %}


    

    {% include 'footer.html' %}

    <script src="{{ url_for('static', filename='js/contact.js') }}"></script>
</body>

</html>
