<header>
    <div class="header-buttons" id="sign-up-btn">
        <a href="#" class="sign-up-button">Sign Up</a>
        <div class="overlay" id="sign-up-overlay">
            <div class="overlay-content">
                <span class="overlay-text">Sign Up</span>
                <div class="grid-container">
                    <form class="overlayForm" id="sign-up-form">
                        <label for="full-name-signup">Full Name:</label>
                        <input type="text" class="overlayInput" id="full-name-signup" name="full-name" required>
    
                        <label for="username-signup">Username:</label>
                        <input type="text" class="overlayInput" id="username-signup" name="username" required>
    
                        <label for="password-signup">Password:</label>
                        <input type="password" class="overlayInput" id="password-signup" name="password" required>
    
                        <label for="confirm-password-signup">Confirm Password:</label>
                        <input type="password" class="overlayInput" id="confirm-password-signup" name="confirm-password" required>
    
                        <button class="overlayButton" type="submit">Sign Up</button>
                    </form>
                </div>
                <button class="close-button" onclick="closeOverlay('sign-up-overlay')">Close</button>
            </div>
        </div>
    </div>
    <h1>EcoAngler</h1>
    <div class="header-buttons" id="login-btn">
        <a href="#" class="login-button">Login</a>
        <div class="overlay" id="login-overlay">
            <div class="overlay-content">
                <span class="overlay-text">Login</span>
                <div class="grid-container">
                    <form class="overlayForm" id="login-form">
                        <label for="username-login">Username:</label>
                        <input type="text" class="overlayInput" id="username-login" name="username-login" required>
    
                        <label for="password-login">Password:</label>
                        <input type="password" class="overlayInput" id="password-login" name="password-login" required>
    
                        <button class="overlayButton" type="submit">Login</button>
                    </form>
                </div>
                <button class="close-button" onclick="closeOverlay('login-overlay')">Close</button>
            </div>
        </div>
    </div>
</header>