<header>
    <div class="header-buttons" id="sign-up-btn">
        <a href="#" class="sign-up-button">Sign Up</a>
        <div class="overlay" id="sign-up-overlay">
            <div class="overlay-content">
                <span class="overlay-text">Sign Up</span>
                <div class="grid-container">
                    <form>
                        <label for="full-name">Full Name:</label>
                        <input type="text" id="full-name" name="full-name" required>
    
                        <label for="username">Username:</label>
                        <input type="text" id="username" name="username" required>
    
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" required>
    
                        <label for="confirm-password">Confirm Password:</label>
                        <input type="password" id="confirm-password" name="confirm-password" required>
    
                        <button id="submit" type="submit">Sign Up</button>
                    </form>
                </div>
                <button class="close-button" onclick="closeOverlay('sign-up-overlay')">Close</button>
            </div>
        </div>
    </div>
    <h1>EcoAngler</h1>
    <div class="header-buttons" id="login-btn">
        <a href="#" class="login-button">Login</a>
        <div class="overlay" id="login-overlay">
            <div class="overlay-content">
                <span class="overlay-text">Login</span>
                <div class="grid-container">
                    <form>
                        <label for="username-login">Username:</label>
                        <input type="text" id="username-login" name="username-login" required>
    
                        <label for="password-login">Password:</label>
                        <input type="password" id="password-login" name="password-login" required>
    
                        <button id="submit-login" type="submit">Login</button>
                    </form>
                </div>
                <button class="close-button" onclick="closeOverlay('login-overlay')">Close</button>
            </div>
        </div>
    </div>
</header>